@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
:root{
--very-dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);
--dark-grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);
}
/*Mobile*/
body{
    padding: 5em 2em 1em 2em;
    text-align: center;
}

html{
    font-family: 'Spartan', sans-serif;
    color:var(--dark-grayish-magenta);
    font-size: .95em;
}

.inner-wrapper{
    max-width: 630px;
    padding: 0 2em;
    margin: 0 auto;
}

h1{
    color: var(--very-dark-magenta);
    font-size:3em;
    line-height: 1;
    max-width: 450px;
    margin: 0 auto .95em auto;
}

.split{
    gap: 1em;
}

.ratings .rating-2{
    margin: 1em 0;
}

.ratings li{
    background-color: var(--light-grayish-magenta);
    font-weight: 900;
    font-size: .9em;
    color: var(--very-dark-magenta);
    border-radius: 10px;
    padding: .5rem;
    margin: 1em 0;
}

.ratings li::before{
    content: "";
    width: 100px;
    height: 1rem;
    margin: 0 auto;
    display: block;
    background-image: url(/images/icon-star.svg);
    margin-bottom: .5em;
    background-repeat: space;
}

.quotes li{
    background-color: var(--very-dark-magenta);
    margin: 1em auto;
    border-radius: 10px;
    padding: 2em;
    color: var(--light-grayish-magenta);
}

.quotes .split{
    display: flex;
    align-items: center;
}

.quotes .split img{
    height: 45px;
    border-radius: 50%;
}

.quotes .split .name,
.quotes .split .status{
    margin-left: 2em;
}

.quotes .name{
    color: var(--light-grayish-magenta);
    font-weight: 700;
}

.quotes .status{
    color: var(--soft-pink);
}

.quotes .quote{
    text-align: left;
    margin-top: 2em;
}

/*Desktop*/
@media (min-width: 940px){
   
    body{
        padding: 0;
        background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;
    }
   
    .container{
        padding: 0 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
   
    .inner-container .split{
        display: flex;
        justify-content: space-between;
        max-width: 1110px;
    }

    .intro{
        text-align: left;
        max-width: 475px;
    }
    h1{
        font-size:3em;
        margin: 0;
    }
    .lead{
        margin-top: 1em;
    }

    .ratings li{
        display: flex;
        padding: 1em 3em;
        margin: 0;
    }

    .ratings li::before{
        margin: 0;
        margin-right: 2em;
    }

    .ratings .rating-1{
        position: relative;
        right: 100px;
    }

    .ratings .rating-2{
        position: relative;
        right: 50px;
        margin: 1em 0;
    }

    .ratings.content-spacer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ul.quotes.split{
        margin-top: 3.75em;
    }

    .quotes .split{
        justify-content: flex-start;
    }

    .quotes .split .name,
    .quotes .split .status{
        margin:0;
    }

    .quotes li:nth-child(2) {
        position: relative;
        top: 20px;
    }

    .quotes li:nth-child(3) {
        position: relative;
        top: 40px;
    }
}